<div class="modal fade" id="addLeadModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Novo Lead</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="addLeadForm" action="{% url 'leads:lead_criar' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ add_lead_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar Lead</button>
                </div>
            </form>
        </div>
    </div>
</div>