{% if lead.status == 'convertido' %}
    <span class="badge fs-6 bg-success-subtle text-success-emphasis rounded-pill">
        <i class="bi bi-check-circle-fill me-1"></i> {{ lead.get_status_display }}
    </span>
{% elif lead.status == 'perdido' %}
    <span class="badge fs-6 bg-danger-subtle text-danger-emphasis rounded-pill">
        <i class="bi bi-x-circle me-1"></i> {{ lead.get_status_display }}
    </span>
{% elif lead.status == 'em_contato' %}
    <span class="badge fs-6 bg-warning-subtle text-warning-emphasis rounded-pill">
        <i class="bi bi-chat-dots me-1"></i> {{ lead.get_status_display }}
    </span>
{% elif lead.status == 'negociando' %}
    <span class="badge fs-6 bg-info-subtle text-info-emphasis rounded-pill">
        <i class="bi bi-handshake me-1"></i> {{ lead.get_status_display }}
    </span>
{% else %}
    {# Este é o default para o status 'novo' #}
    <span class="badge fs-6 bg-secondary-subtle text-secondary-emphasis rounded-pill">
        <i class="bi bi-bell me-1"></i> {{ lead.get_status_display }}
    </span>
{% endif %}